/*Hoja de estilos para proyecto web*/

/*
      Hoja de estilos de CSS
      // sintaxis de CSS
      selector {
          propiedad: valor;
          propiedad: valor;
          propiedad: valor;
      }
      selector { propiedad: valor; }
      // 3 Tipos de selectores
      
      // 1.- Tipo etiqueta HTML
      body {  margin: o; }

      //2.- Tipo clase (inician con un punto)
      .negrita { font-weight: bold; }

      //3.- Tipo id (inician con #)
      #titulo-principal { font-size: 2em; }



*/
body,h1,h1,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}

#encabezado {}

/* aplica a las etiquetas que tienen atributo class="titulos" y que son hijas der otra que tiene id="encabezado" */
#enabezado>.titulos {}

#barnav {}

#principal {}

#nota-importante {}

#notas-secundarias {}

#notas-secundarias>article>.introduccion {}

#notas-secundarias>article>.leer-mas {}

.container {
    width: 960px;
    margin: auto;
}